body {
    text-align: center;
}

button {
    font-family: 'Courier New';
    border-radius: 28px;
    height: 8vh;
    font-weight: bolder;
    font-size: 25px;
    width: 50vw;

}

button:hover {
    background-color: rgba(255, 0, 0, 0.668);
    color: white;
    cursor:pointer;
    border: 10px ridge red ;
}

button:active {
    background-color: lightpink;
    color: red;
}